## for Local Build

# Mandatory Vars

NAME='Rishika'
## Name of receiver

PIC='sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Cutiee'
## A Nickname for more personalization

HBD_MSG='May you be happy and I make you smilee forever'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2024-04-20'
## Active Date in YYYY-MM-DD format
